<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link  th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bt-light">
        <div class="Row">
            <a class="navbar-brand" href="#">SHOP STORE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/products">Danh sách sản phẩm</a> </li>
                <li class="nav-item"><a class="nav-link btn btn-info" href="/products/add">Thêm Sản Phẩm</a></li>
                <li class="nav-item"><a href="/categories"  class="nav-link">Danh sách loại</a></li>
                <li class="nav-item"><a href="/categories/add"  class="nav-link">Thêm loại</a></li>
                <li class="nav-item"><a href="/produces"  class="nav-link">Danh sách nhà sản xuất</a></li>
                <li class="nav-item"><a href="/produces/add"  class="nav-link">Thêm nhà sản xuất</a></li>
            </ul>
        </div>
    </nav>
</header>
<div th:insert="~{::${content}}">
</div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>