<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TRANG WEB BÁN HÀNG THỜI TRANG</title>
    <th:block th:replace="layout :: link-css"></th:block>

</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bt-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                TRANG CHỦ BÁN HÀNG THỜI TRANG
            </a>
        </div>
    </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>